.playerContainer {
  display: flex;
  align-items: center;
  gap: 20px;

  .leftContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 370px;
    width: 100%;

    .kda {
      width: 50px;
    }

    .summonerInfo {
      flex: 1;
      width: 280px;
      display: flex;
      gap: 4px;
      align-items: center;

      .champIcon {
        width: 36px;
        height: 36px;

        border-radius: 9999px;
      }

      .summonerName {
        flex: 1;
      }

      .spellsContainer {
        display: flex;
        flex-direction: column;
        gap: 2px;

        img {
          width: 16px;
          height: 16px;
        }
      }

      .mainRune {
        width: 20px;
        border-radius: 9999px;
      }
    }

    .goldAndFarm {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .build {
    display: flex;
    gap: 2px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .rightContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    
    .goldAndFarm {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 120px;

      &:first-child {
        width: 80px;
      }

      > span {
        flex: 1;
        text-align: right;
      }
    }

    .build {
      display: flex;
      gap: 2px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: 720px) {
  .playerContainer {
    flex-direction: column;
    gap: 4px;

    .leftContainer {
      width: 100%;
    }
  }
}